/*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/lizhen-shop-common/target/
/lizhen-shop-common/lizhen-shop-common.iml
/lizhen-shop-api/lizhen-shop-api-member/target/
/out/
/*.iml

